<EditForm Model="@Persona" OnValidSubmit="@OnValidSubmit">
    <div class="form-field">
        <label>Nombre:</label>
        <div>
            <InputText @bind-Value="@Persona.Nombre" />
            <ValidationMessage For="@(() => Persona.Nombre)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">@TextoBoton</button>
    <DataAnnotationsValidator />
</EditForm>

@code {
    [Parameter] public Persona Persona { get; set; } = new Persona();
    [Parameter] public String TextoBoton { get; set; } = "Salvar cambios";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
